.forms {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background: #2f3640;
    border-radius: 5px;
}
main form {
    padding: 20px 40px;
    margin: 20px;
    background: #2f3640;
    border: 2px solid white;
    border-radius: 5px;
}
fieldset {
    padding: 20px;
    margin: 0;
    color: white;
    border: none;
    background: #2f3640;
    display: flex;
    flex-direction: row;
    align-items: center;
}
fieldset legend {
    color: #50bc5c;
    font-weight: bold;
}
fieldset input,
fieldset select {
    outline: none;
    height: 30px;
    width: 200px;
    color: #2f3640;
    background: #f1f3f4;
    font-weight: bolder;
    margin: 10px;
    text-align: center;
    text-align-last: center;
    border: 5px solid #f1f3f4;
    border-radius: 5px;
    border-left: 3px solid;
    transition: border-color 0.5s ease-out;
}
fieldset label,
fieldset span{
    text-align: center;
}
fieldset input[type="checkbox"],
fieldset input[type="radio"] {
    height: inherit;
    width: inherit;
}
fieldset input:optional,
fieldset select:optional {
    border-left-color: #999;
}
fieldset input:required,
fieldset select:required {
    border-left-color: #50fc5c;
}
fieldset input:invalid,
fieldset select:invalid {
    border-left-color: salmon;
}

input[type="submit"],
input[type="reset"] {
    outline: none;
    padding: 10px;
    margin: 10px;
    background: #2f3640;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
}
input[type="submit"]:hover,
input[type="reset"]:hover {
    background: white;
    color: #2f3640;
}

table {
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    background: #2f3640;
    color: white;
    text-align: center;
    cursor: pointer;
}
th {
    padding: 10px 10px;
    color: #50fc5c;
}
td:hover {
    transition: 0.4s;
    color: #50fc5c;
}

.searchP {
    font-size: 4em;
}
