img {
    height: 300px;
    width: 300px;
}

table {
    border-radius: 5px;
}

.shoeShop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shoeShop p {
    margin: 3px;
    padding: 3px;
}

.shoeShop > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #2f3640;
    border-radius: 5px;
    margin: 5px;
}
.shoeShop > div > div:nth-child(1) {
    border-bottom: 2px solid #2f3640;
}
.shoeShop > div > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
}

.shoeTitle {
    font-size: x-large;
}

.price {
    font-size: large;
    color: #50fc5c;
}

.addToRecycleBin {
    margin: 10px;
    padding: 10px;
    border: 2px solid #2f3640;
    border-radius: 3px;
    transition: 0.4s;
}
.addToRecycleBin:hover {
    background: #2f3640;
}
.addToRecycleBin a {
    color: #2f3640;
}
.addToRecycleBin:hover a {
    color: white;
}

.npBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 2px solid #2f3640;
    border-radius: 5px;
    background: #2f3640;
    transition: 0.4s;
}
.npBtn > a[href],
.npBtn > a {
    outline: none;
    padding: 10px;
    margin: 10px;
    width: 100px;
    text-align: center;
    background: #2f3640;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
}
.npBtn > a {
    color: #999999;
    border-color: #999999;
}
.npBtn > a:hover {
    background: #2f3640;
}
.npBtn > a[href]:hover {
    background: white;
    color: #2f3640;
}

td a {
    color: white;
}
td a:hover {
    color: #50fc5c;
}
