.login {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginBtn,
.logoutBtn {
    transition: 0.4s;
    padding: 5px 15px;
    background: white;
    border: 2px solid #50fc5c;
    border-radius: 10px;
    color: #2f3640;
    font-size: x-large;
}

.loginBtn:hover,
.logoutBtn:hover {
    box-shadow: 1px 1px 5px #999;
    background: #50fc5c;
    border-radius: 5px;
    color: white;
}

.loginBtn:active,
.logoutBtn:active {
    color: #2f3640;
}

.user {
    color: #2f3640;
    text-align: center;
    font-size: xx-small;
}